<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myWedApp</display-name>
  <context-param>
    <param-name>addresss</param-name>
    <param-value>shanghai</param-value>
  </context-param>
  <context-param>
    <param-name>phone</param-name>
    <param-value>1233333</param-value>
  </context-param>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>cn.iycast.firstText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstText</display-name>
    <servlet-name>firstText</servlet-name>
    <servlet-class>cn.iycast.firstText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstText</servlet-name>
    <url-pattern>/firstText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text2</display-name>
    <servlet-name>text2</servlet-name>
    <servlet-class>cn.iycast.text2</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>num</param-name>
      <param-value>66</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>text2</servlet-name>
    <url-pattern>/text2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text3_servletcontext</display-name>
    <servlet-name>text3_servletcontext</servlet-name>
    <servlet-class>cn.iycast.text3_servletcontext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text3_servletcontext</servlet-name>
    <url-pattern>/text3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloworld</display-name>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>cn.iycast.helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hi</display-name>
    <servlet-name>hi</servlet-name>
    <servlet-class>cn.iycast.hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hi</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>text3servletcontext</display-name>
    <servlet-name>text3servletcontext</servlet-name>
    <servlet-class>cn.iycast.text3servletcontext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text3servletcontext</servlet-name>
    <url-pattern>/text3servletcontext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>textRedirect</display-name>
    <servlet-name>textRedirect</servlet-name>
    <servlet-class>cn.iycast.textRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>textRedirect</servlet-name>
    <url-pattern>/textRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cn.iycast.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestForwordServlet</display-name>
    <servlet-name>requestForwordServlet</servlet-name>
    <servlet-class>cn.iycast.requestForwordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestForwordServlet</servlet-name>
    <url-pattern>/requestForwordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resultServlet</display-name>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>cn.iycast.resultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludingServlet</display-name>
    <servlet-name>IncludingServlet</servlet-name>
    <servlet-class>cn.iycast.goOtherWay.IncludingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludingServlet</servlet-name>
    <url-pattern>/IncludingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludedServlet</display-name>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>cn.iycast.goOtherWay.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/IncludedServlet</url-pattern>
  </servlet-mapping>
</web-app>